In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler

In [4]:
# Load the dataset
df = pd.read_csv('titanic.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
# Data Cleaning: Dropping unnecessary columns
cols = ['Name', 'Ticket', 'Cabin']
df = df.drop(cols, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [7]:
# Handling Missing Values: Dropping rows with any missing values
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [17]:
# Normalize 'Fare'
scaler = MinMaxScaler()
df['Fare'] = scaler.fit_transform(df[['Fare']])

In [10]:
# Encoding: Convert categorical variables into dummy/indicator variables
dummies = []
cols = ['Pclass', 'Sex', 'Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))
titanic_dummies = pd.concat(dummies, axis=1)

In [11]:
# Combine the dummy variables with the original dataframe and drop the original categorical columns
df = pd.concat((df, titanic_dummies), axis=1)
df = df.drop(['Pclass', 'Sex', 'Embarked'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    bool
 7   2            712 non-null    bool
 8   3            712 non-null    bool
 9   female       712 non-null    bool
 10  male         712 non-null    bool
 11  C            712 non-null    bool
 12  Q            712 non-null    bool
 13  S            712 non-null    bool
dtypes: bool(8), float64(2), int64(4)
memory usage: 44.5 KB

In [12]:
# Handling Missing Values: Interpolating missing values in the 'Age' column
df['Age'] = df['Age'].interpolate()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    bool
 7   2            712 non-null    bool
 8   3            712 non-null    bool
 9   female       712 non-null    bool
 10  male         712 non-null    bool
 11  C            712 non-null    bool
 12  Q            712 non-null    bool
 13  S            712 non-null    bool
dtypes: bool(8), float64(2), int64(4)
memory usage: 44.5 KB

In [13]:
# Preparing the features (X) and target (y) variables
X = df.values
y = df['Survived'].values

In [14]:
# Removing the target variable from the features
X = np.delete(X, 1, axis=1)

In [15]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [19]:
df.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,1,2,3,female,male,C,Q,S
0,1,0,22.0,1,0,0.014151,False,False,True,False,True,False,False,True
1,2,1,38.0,1,0,0.139136,True,False,False,True,False,True,False,False
2,3,1,26.0,0,0,0.015469,False,False,True,True,False,False,False,True
3,4,1,35.0,1,0,0.103644,True,False,False,True,False,False,False,True
4,5,0,35.0,0,0,0.015713,False,False,True,False,True,False,False,True